.hidden {
	display:none;
}

body {
	background-color: #EFEFEF;
	color: #565656;
}

.header-contents {
	text-align:center;
}

.recipe-search {
	text-align:center;
	margin-bottom: 15px;
}

.recipe-search > h2 {
	padding:0;
	margin:0;
}

.recipe-search-form {
	margin: 10px 0 10px 0;
	display:inline;
}

.search-input {
	padding: 5px;
}

.submit-search {
	margin-top:10px;
	margin-left: 5px;
	padding: 5px 10px 5px 10px;
	background-color: #CAEBF2;
	border:none;
	color: #565656;
	font-weight: bold;
	box-shadow: 5px 5px 5px #888888;
}

.submit-search:hover {
	font-size: 1.1em;
}

.results-container {
	max-width:1000px;
	padding-left:20px;
	padding-right:20px;
	margin: 0 auto; 
}

.recipe-image {
	width:100%;
}

.result-card {
	border-radius: 10px;
	margin-bottom:15px;
	background-color: #D7CEC7;
}

.name-source, .rating-attribution {
	margin-bottom:5px;
	padding:10px;
}

.name-source {
	height:5em;
}

.rating-attribution {
	color: #565656;
	height:6em;
	overflow-y:scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.name, .source {
	padding: 0;
	margin: 0 0 5px 0;
}

.name {
	font-size:1.15em;
}

.source {
	font-size: .95em;
}

.name-link {
	text-decoration:none;
	color: #565656;
}


.name-link:hover {
	font-style:italic;
}

.new-search {
	padding:0;
	margin:0;
	font-size:1.1em;
	display:inline-block;
}

.attribution {
	margin-top:20px;
	font-size:.8em;
}

.attribution > a {
	text-decoration: none;
	color: #565656;
}










